@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour: oklch(72.35% 0.1547 72.21);
  --primary-hover: oklch(63.05% 0.1277 69.50);
  --primary-saturated: oklch(95.88% 0.0296 72.21);
  --primary-label: oklch(0.208 0.042 265.755);

  /* --primary-colour: oklch(0.646 0.222 41.116);
  --primary-hover: oklch(0.553 0.195 38.402);
  --primary-saturated: oklch(0.954 0.038 75.164); */

  /* --primary-colour: oklch(0.488 0.243 264.376);
    --primary-hover: oklch(0.424 0.199 265.638);
    --primary-saturated: oklch(0.932 0.032 255.585); */
}

/* Glide container adjustments */
.glide__slides {
  height: 100% !important; /* Force slides container to full height */
  padding: 3px !important; 
}

.glide__slide {
  height: auto !important; /* Override default slide height */
  display: flex !important; /* Enable flex layout for slide */
  align-items: stretch !important; /* Stretch child elements vertically */
  margin-bottom: 5px !important;
}

.shepherd-button.shepherd-button-primary {
  background-color: var(--primary-colour) !important;
}

.shepherd-button.shepherd-button-cancel {
  background-color: var(--primary-colour) !important;
}